[Unit]
Description=FruitNanny API
Documentation=man:fruitnanny-api(8)
Wants=NetworkManager.service wpa_supplicant.service
After=NetworkManager.service wpa_supplicant.service dbus.service fruitnanny-api.socket
Requires=fruitnanny-api.socket

[Service]
User=fruitnanny
Type=simple
ExecStart=/usr/bin/fruitnanny serve --addr systemd
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
